@model IEnumerable<ShoppingCart.Database.Theatre>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TheatreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rows)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeatsPerRows)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfSeats)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TheatreName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rows)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeatsPerRows)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfSeats)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TheatreId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TheatreId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TheatreId })
        </td>
    </tr>
}

</table>
